<!-- ============================================================== -->
<!-- left sidebar -->
<!-- ============================================================== -->
<div class="nav-left-sidebar sidebar-dark">
  <div class="menu-list">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-column">
          <li class="nav-divider">
            Menu
          </li>
          <li class="nav-item ">
            <a class="nav-link active" style="cursor:pointer;" [routerLink]="'/dashboard'"><i class="fa fa-fw fa-user-circle"></i>Dashboard </a>

          </li>
          <li class="nav-item ">
            <a class="nav-link" style="cursor:pointer;" ><i class="fa fa-fw fa-users"></i>Manage Employees</a>

          </li>
          <li class="nav-item ">
            <a class="nav-link " style="cursor:pointer;" [routerLink]="'/dashboard/image-analysis'"><i class="fa fa-fw fa-images" aria-hidden="true"></i>Image Analysis</a>
          </li>

          <!-- <li class="nav-divider">
              Features
          </li> -->
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- ============================================================== -->
<!-- end left sidebar -->
<!-- ============================================================== -->
