.link {
  text-decoration: none;
}

input[type="text"].ng-invalid.ng-touched {
  border: 1px solid red;
}

input[type="password"].ng-invalid.ng-touched {
  border: 1px solid red;
}

span {
  color: red;
}

#register {
  font-weight: 500;
  letter-spacing: 1px;
}
