<!-- ============================================================== -->
<!-- pageheader  -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="page-header">
      <h2 class="pageheader-title">DASHBOARD</h2>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader  -->
<!-- ============================================================== -->
<div class="">
  <div class="row">
    <div class="container-fluid">
      <div class="card">
        <h5 class="card-header">Employees</h5>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table">
              <thead class="bg-light">
              <tr class="border-0">
                <th class="border-0">#</th>
                <th class="border-0">Image</th>
                <th class="border-0">Name</th>
                <th class="border-0">Id</th>
                <th class="border-0">Region / Area</th>
                <th class="border-0">Status</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>
                  <div class="m-r-10"><img src="" alt="user" class="rounded" width="45"></div>
                </td>
                <td>Abdullah</td>
                <td>1 </td>
                <td>2A</td>

                <td><span class="badge-dot badge-brand mr-1"></span>Online </td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <div class="m-r-10"><img src="" alt="user" class="rounded" width="45"></div>
                </td>
                <td>Arsalan </td>
                <td>2 </td>
                <td>1A</td>

                <td><span class="badge-dot badge-danger mr-1"></span>Offline</td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  <div class="m-r-10"><img src="" alt="user" class="rounded" width="45"></div>
                </td>
                <td>Azeem</td>
                <td>3 </td>
                <td>2C</td>

                <td><span class="badge-dot badge-brand mr-1"></span>Online </td>
              </tr>
              <tr>
                <td>4</td>
                <td>
                  <div class="m-r-10"><img src="" alt="user" class="rounded" width="45"></div>
                </td>
                <td>Ahmad</td>
                <td>4 </td>
                <td>3C</td>

                <td><span class="badge-dot badge-danger mr-1"></span>Offline </td>
              </tr>
              <tr>
                <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- end recent orders  -->

    <!-- ============================================================== -->
    <!-- end customer acquistion  -->
    <!-- ============================================================== -->
  </div>


  <div class="row">
    <!-- ============================================================== -->
    <!-- total revenue  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- category | Region wise Success  -->
    <!-- ============================================================== -->
    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
      <div class="card">
        <h5 class="card-header">Area / Region | Health</h5>
        <div class="card-body">
          <div id="c3chart_category" style="height: 420px;"></div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- end category revenue  -->
    <!-- ============================================================== -->


  </div>

</div>
